#!/usr/bin/env bash

TMP=$(mktemp)

cat > $TMP

__cleanup ()
{
    SIGNAL=$1

    rm -f $TMP

    if [[ -n "$SIGNAL" ]]; then
        trap $SIGNAL
        kill -${SIGNAL} $$
    fi
}

trap __cleanup EXIT

podman run \
    --rm \
    --network db \
    -v $TMP:/commands.txt \
    --secret postgres_connection,type=env,target=PG_CONN \
    docker.io/postgres \
    bash -c 'psql $PG_CONN -q -f /commands.txt'
